*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

li,a,p{
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

header {
  height: 10rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color: #d4e6f1;
  width: 100%;
}

.container {
  max-width: 132rem;
  margin: auto;
  height: 10rem;
}

.grid{
  display: grid;
}

li{
  list-style: none;
}

a {
  color: #000;

  &:hover {
    color: #2e86c1;
    text-decoration: underline;
  }
}

.navbar-grid{
  grid-template-columns: 0.5fr 1fr;
  height: 10rem;
  align-items: center;
  padding: 0 3.2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
}